.tea-card {
  background-image: url('./texture-paper.jpeg');
  width: 22vw;
  border-radius: 2%;
  text-align: center;
  padding: 2%;

}

.tea-card:hover {
  cursor: pointer;
}

.entry-button {
  border: none;
  padding: 7%;
}

.card-actions {
  display: flex;
  justify-content: space-around;
}

.favorite-button {
  width: 4vw;
  height: 6vh;
  background-image: url('./NotFavorite.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
  border: none;
  background-position: center;

}

.favorite-button-active {
  width: 4vw;
  height: 6vh;
  background-image: url('./FavoriteTea.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
  border: none;
  background-position: center;
}

.favorite-button:hover {
  background-image: url('./FavoriteTea.svg');
  background-color: transparent;
}

@media (max-width: 500px) {
  .tea-card {
    height:20vh;
    width:25vw;
    font-size: .8rem;
    overflow: scroll;
  }
  .tea-card-title {
    font-size: .8rem;
  }

  p {
    font-size-adjust: auto;
  }

  .favorite-button {
    z-index: 1;
  }
}
