form {
  width: 70%;
  height: 40%;
  background-image: url('../TeaCard/texture-paper.jpeg')
}

input {
  width: 20%;
  margin: 2%;
  border:none;
  overflow-y: scroll;
}

select {
  width: 25%;
  border: none;
}

.input-experience {
  width: 50%;
  height:20%;
}

.input-notes {
  width: 50%;
}

.form-container {
  width: 80vw;
  height: 100vh;
  display:flex;
  justify-content: center;
  align-items: center;
  margin-top: -15vh;
}
