header {
  background-color: #5C8260;
  width: 20%;
  height: 100vh;
  text-align: center;
  display:flex;
  flex-direction: column;
}

.home {
  margin-bottom: 30%;
  font-weight: 700;
  font-size: 3rem;
}

@media (max-width: 500px) {
  header {
    font-size: 2rem;
    width: 30%;
  }
  .home {
    font-size: 1rem;
  }
}
