.App {
  text-align: center;
}

html {
  width: 100vw;
  height: 100vh;
  background-color: #E4FAFC;
  text-align: center;
}

button {
  background-color: #88AD8C;

}

a {
  text-decoration: none;
  all: unset;
  cursor: pointer;
}

button:hover {
  cursor: pointer;
  background-color: #A9D8AE;

}

.wrapper {
  display: flex;
}

.card-container {
  margin-left: 6%;
  width: 80%;
  height: 80%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 3%;
  grid-row-gap: 3%;
}
.homepage {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (max-width: 500px) {
  .card-container {
    width: 60%;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 1%;
  }

  .homepage {
    align-items: center;
  }
}

.title-main {
  margin-bottom: 10%;
}

.title {
  margin-left: 20%;
}
